*{margin:0; padding:0; box-sizing:border-box; font-size:100%; word-wrap:break-word;}
body{overflow-x:hidden; background:#151515; color:#fff; font-family: 'bookman old style','itc bookman',times,serif; font-size:1.25em; line-height:145%; max-width:30em; margin:0 auto; padding:1em;}
a{color:inherit;} a:hover,a:active,a:focus{text-decoration:none;}
p{margin:.75em 0;}
::selection{background:#404040;}
img{max-width:100%; height:auto;}