*{margin:0; padding:0; box-sizing:border-box; font-size:100%; word-wrap:break-word;}
body{overflow-x:hidden; background:#151515; color:#fff; font-family: 'bookman old style','itc bookman',times,serif; font-size:1.25em; line-height:145%; padding:1em; margin-bottom:2em;}
a{color:inherit; text-decoration-color:#808080;} a:hover,a:active,a:focus{text-decoration:none;}
::selection{background:#404040;}
img{max-width:100%; height:auto;}

header,p,h1,h2,h3,figcaption{max-width:35rem; margin:0 auto;}
p,figure,table{margin:.75em auto;}

header{padding:1em 0;} header a{text-decoration:none;} header a:hover,header a:active,header a:focus{text-decoration:underline;}
header ul{margin-left:-.25rem;} header li{display:inline; font-size:.85em; text-transform:uppercase; margin:0 .25rem; letter-spacing:.05em;}
#parts{display:block; font-size:.5em; letter-spacing:.1em;} #parts a{padding:0 .25em;} #parts a:hover,#parts a:active,#parts a:focus{font-weight:bold;} #parts a:first-of-type{padding:0;}

h1{font-size:2em; font-weight:normal; margin-top:1rem;}
main h2{font-size:1.15em; margin-top:2rem;} h1+h2{margin-top:1rem;}
h2+p,h3+p{margin-top:.25em;}
h3{font-size:.85em; line-height:1.25em; margin-top:1.5rem;}

figure{text-align:center;}
figcaption{text-align:left; font-size:.85em; line-height:150%; color:#adadad; margin:.25rem auto;} .border{border-bottom:2px dotted #808080; padding-bottom:.5rem; margin-bottom:2rem;}

main ul,main ol{margin:.75em 0 .75em 1em;}
li>ul{margin:0 0 0 1em;}
h2~ul,h3~ul,h2~ol,h3~ol{margin-top:.25em;}

.spoiler{background:#808080; color:#808080; cursor:pointer;} figure.spoiler{background:0; cursor:initial;}
.showhide{background:0; color:#adadad;}
img.spoiler{filter:blur(30px) grayscale(75%);} img.showhide{filter:none;}
/*https://stackoverflow.com/questions/12224320/defined-edges-with-css3-filter-blur*/ .spoilerbox{overflow:hidden; display:inline-block;}

blockquote{margin-left:1em;}

td{padding:0 1em .25em 0;vertical-align:top;} td:last-child{padding-right:0;}
tr:first-child,td:first-child{font-weight:bold;}