*{margin:0; padding:0; box-sizing:border-box; word-wrap:break-word; font-size:100%;}
body{font-family: 'lucida sans',tahoma,sans-serif; line-height:1.5; padding:1em; background:#efefef;}
header,main,section,article,footer{display:block;}
::selection{background:#b8b8b8;}
img{max-width:100%; height:auto; display:block; margin:0 auto;}
.x{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}
a{color:inherit; text-decoration-color:#b8b8b8;} a:hover,a:focus,a:active{text-decoration:none;}
.ni{color:#808080;}

hr{border:0; height:1px; background:#b8b8b8; margin:1rem 0;}
p{margin:.5em 0;}
ul{margin-left:1em;}

header{text-align:center;}
h1{font-size:2em; line-height:1;}
h2{font-size:1.5em;}
h3{font-size:1.25em;}
details{border:2px solid #b8b8b8; padding:.5em 1em; margin:1rem auto; max-width:50em;} #desc{text-align:left;}
details h2{display:inline;}
summary{text-decoration:underline #b8b8b8;} summary:hover,summary:focus,summary:active{cursor:pointer; text-decoration:none;}

main>section{border:2px solid #b8b8b8; padding:1rem; margin:1rem 0;}
.txt{padding-bottom:.5em;}
#main{text-align:center;}
#main ul{margin:0; list-style-type:none; line-height:1.25;}

#plt h2{margin-top:.5em;}
#plt h3:last-of-type{margin-top:1em;}
 #plt li{padding:.5em 0;}
.hex{font-family:courier,monospace; text-transform:uppercase; font-weight:bold;}

footer{font-size:.85em; color:#808080; text-align:center;} footer a{text-decoration:none;} footer a:focus,footer a:hover,footer a:active{color:#000;}

/*FULLSCREEN
text 16px line-height 24px
details display inline-block
*/