---
layout: "1.1"
title: gallery
---
<figure class="pic"><picture><source media="(min-width:600px)" srcset="{%include url.html%}/assets/img/gallery/{{page.img}}-full.png"><img src="{%include url.html%}/assets/img/gallery/{{page.img}}-600.{{page.smolfile}}" alt=""/></picture></figure>
<div id="info" class="wrap">{%if page.drawnon%}{{page.drawnon}}{%endif%}{%if page.da%}{%if page.drawnon%} ▪ {%endif%}<a href="https://www.deviantart.com/a-flyleaf/art/{{page.da}}" class="ext">on dA</a>{%endif%}</div>
{{page.content}}