<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{%if page.title%}{%if page.subpage%}{{page.subpage}}: {%endif%}{{page.title}} ▪ {%endif%}{{site.name}}</title>
		<link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/1.1.css"/>{%if page.css%}
		<style>{{page.css}}</style>{%endif%}
	</head>
	
	<body>
		<header class="wrap">
			<h2><a href="{%include url.html%}">{{site.name}}</a></h2>
			<nav><ul>
				<a href="{%include url.html%}/about"><li>about</li></a>
				<a href="{%include url.html%}/cast"><li>cast</li></a>
				<a href="{%include url.html%}/gallery"><li>gallery</li></a>
				<!--<li id="parts"><a href="{%include url.html%}">snippets</a> by part:
					<a href="{%include url.html%}/scenes#1">1</a>
					<a href="{%include url.html%}/scenes#2">2</a>
					<a href="{%include url.html%}/scenes#3">3</a>
					<a href="{%include url.html%}/scenes#4">4</a>
					<a href="{%include url.html%}/scenes#5">5</a>
					<a href="{%include url.html%}/scenes#6">6</a>
					<a href="{%include url.html%}/scenes#7">7</a>
					<a href="{%include url.html%}/scenes#8">8</a>
					<a href="{%include url.html%}/scenes#9">9</a>
					<a href="{%include url.html%}/scenes#10">10</a>
					<a href="{%include url.html%}/scenes#11">11</a>
					<a href="{%include url.html%}/scenes#12">12</a>
				</li>-->
			</ul></nav>
		</header>
		
		<main>
			<h1>{{page.title}}</h1>
			{{content}}{%if page.subpage%}
			<div id="back" class="wrap"><a href="{%include url.html%}/{{page.subpage}}">← back to {{page.subpage}}</a></div>{%endif%}
		</main>
		
		<footer class="wrap">art, writing, and site by <a href="https://a-flyleaf.github.io" target="_blank">a-flyleaf</a></footer>
		
		<script>
			const spoilers = document.querySelectorAll('.spoiler');
			spoilers.forEach(spoiler => {
				spoiler.addEventListener('click', function classToggle(event) {
					console.log("thing clicked",event);
					this.classList.toggle('showhide');
				});
			});
			
			const fullpic = document.querySelectorAll('.pic');
			fullpic.forEach(pic => {
				pic.addEventListener('click', function classToggle(event) {
					console.log("thing clicked",event);
					this.classList.toggle('fullsize');
				});
			});
		</script>
	</body>
</html>