<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{%if page.title%}{%if layout.title%}{{layout.title}}: {%endif%}{{page.title}} ▪ {%endif%}{{site.name}}</title>
		<link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/1.2.css"/>{%if page.css%}
		<style>{{page.css}}</style>{%endif%}
	</head>
	
	<body>
		<div id="top"></div><a href="#content" class="skipto x">skip to content</a>
		<header class="wrap" id="header">
			<h2><a href="{%include url.html%}">{{site.name}}</a></h2>
			<nav><ul class="small caps">
				<li><a href="{%include url.html%}/about">about</a></li>
				<li><a href="{%include url.html%}/story">story</a></li>
				<li><a href="{%include url.html%}/cast">cast</a></li>
				<li><a href="{%include url.html%}/gallery">gallery</a>{%if page.url contains "gallery"%}{%if page.subpage%}<ul class="small caps" id="g">
					<li><a href="{%include url.html%}/gallery/all">all</i>
					<li><a href="{%include url.html%}/gallery/roundups">roundups</a></li>
					<li><a href="{%include url.html%}/gallery/cast">by cast</a></li></ul>{%endif%}{%endif%}</li>
			</ul></nav>
		</header>
		
		<main id="content">
			<h1>{{page.title}}</h1>
			{{content}}
		</main>
		
		<footer class="wrap"><ul>
			<li id="backto"><a href="#top">back to top</a></li><li id="credit">art, writing, and site by <a href="https://a-flyleaf.github.io" class="ext">a-flyleaf</a></li>
		</ul></footer>
		
		<script>
			const fullpic = document.querySelectorAll('.pic');
			fullpic.forEach(pic => {
				pic.addEventListener('click', function classToggle(event) {
					console.log("thing clicked",event);
					this.classList.toggle('fullsize');
				});
			});
		</script>
	</body>
</html>