<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{site.name}}{%if page.title%} - {{page.title}}{%endif%}</title>
		<link rel="stylesheet" type="text/css" href="{%include url.html%}/1.css"/>
		<style>{{page.css}}</style>
	</head>
	
	<body>
		<header>
			<h2><a href="{%include url.html%}">{{site.name}}</a></h2>
			<nav><ul>
				<a href="{%include url.html%}/synopsis"><li>synopsis</li></a>
				<a href="{%include url.html%}/cast"><li>cast</li></a>
				<li id="parts"><a href="{%include url.html%}/scenes">scenes</a> by part:
					<a href="{%include url.html%}/scenes#1">1</a>
					<a href="{%include url.html%}/scenes#2">2</a>
					<a href="{%include url.html%}/scenes#3">3</a>
					<a href="{%include url.html%}/scenes#4">4</a>
					<a href="{%include url.html%}/scenes#5">5</a>
					<a href="{%include url.html%}/scenes#6">6</a>
					<a href="{%include url.html%}/scenes#7">7</a>
					<a href="{%include url.html%}/scenes#8">8</a>
					<a href="{%include url.html%}/scenes#9">9</a>
					<a href="{%include url.html%}/scenes#10">10</a>
					<a href="{%include url.html%}/scenes#11">11</a>
					<a href="{%include url.html%}/scenes#12">12</a>
				</li>
			</ul></nav>
		</header>
		
		<main>
			<h1>{{page.title}}</h1>
			{{content}}
		</main>
		
		<!--<footer></footer> not really necessary?-->
	</body>
</html>